<template>
<div>
    <h1 class="g">MineSweeper for CodeBuds 💣</h1>
    <div class="rule">
        <p>" Le but est de découvrir toutes les cases libres sans faire exploser les mines.</p>
        <p class="g">Clic gauche = libérer une case</p>
        <p class="g">Clic droit = placer un drapeau</p>
        <p>Le chiffre qui s'affiche sur les cases cliquées indique le nombre de mines à proximité : à gauche ou à droite, en haut ou en bas, ou en diagonale. "</p>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
h1 {
    font-size: 60px;
    text-align: left;
}

p {
    color: white;
    text-align: justify;
    font-size: 20px;
    line-height: 32px;
}

.g {
    color: #69f0ae;

}

.rule {
    padding-right: 80px;
    margin-top: 150px;

}
</style>
