<template>
<div class="main-container">
    <Info class="info" />
    <modal :isWinner="isWinner" :isLooser="isLooser" v-show="isModalVisible" @close="closeModal" />

    <div class="minesweeper-container">
        <div class="board">
            <div v-for="square in squares" :key="square">
                <div v-on:click="onLeftClick(square)" @contextmenu.prevent="onRightClick(square)" v-bind:class="{ 'checked': square.isChecked}">
                    <span v-if="square.isChecked && square.data > 0">{{square.data}}</span>
                    <span v-if="isGameOver && square.type === 'bomb'">💣</span>
                    <span v-if="square.isFlagged">🚩</span>
                </div>
            </div>
        </div>
        <div class="flags">Flags: {{flags}} 🚩</div>
    </div>
    <Timer :isGameStarted="isGameStarted" :isWinner="isWinner" class="timer" />
</div>
</template>

<script>
import Timer from './Timer'
import Info from './Info'
import Modal from './Modal'
export default {
    components: {
        Timer,
        Info,
        Modal
    },
    data() {
        return {
            size: 10,
            bombsNbr: 15,
            flags: 0,
            squares: [],
            isGameOver: false,
            isWinner: false,
            isLooser: false,
            isGameStarted: false,
            isModalVisible: false

        }

    },

    created() {
        this.createBoard()
    },

    methods: {
        createBoard() {
            this.flags = this.bombsNbr

            const bombsArray = Array(this.bombsNbr).fill('bomb')
            const emptyArray = Array(this.size * this.size - this.bombsNbr).fill('normal')
            const gameArray = emptyArray.concat(bombsArray)
            const shuffledArray = gameArray.sort(() => Math.random() - 0.5)

            for (let i = 0; i < shuffledArray.length; i++) {
                this.squares.push({
                    id: i,
                    type: shuffledArray[i],
                    data: 0,
                    isChecked: false,
                    isFlagged: false
                })
            }

            // Bomb detector around square
            for (let i = 0; i < this.squares.length; i++) {
                let total = 0
                const leftEdgeDetector = (i % this.size === 0)
                const rightEdgeDetector = (i % this.size === this.size - 1)

                if (this.squares[i].type === 'normal') {
                    if (i > 0 && !leftEdgeDetector && this.squares[i - 1].type === "bomb") total++
                    if (i > 9 && !rightEdgeDetector && this.squares[i + 1 - this.size].type === "bomb") total++
                    if (i > 10 && this.squares[i - this.size].type === "bomb") total++
                    if (i > 11 && !leftEdgeDetector && this.squares[i - 1 - this.size].type === "bomb") total++
                    if (i < 98 && !rightEdgeDetector && this.squares[i + 1].type === "bomb") total++
                    if (i < 90 && !leftEdgeDetector && this.squares[i - 1 + this.size].type === "bomb") total++
                    if (i < 88 && !rightEdgeDetector && this.squares[i + 1 + this.size].type === "bomb") total++
                    if (i < 89 && this.squares[i + this.size].type === "bomb") total++
                    this.squares[i].data = total
                }

            }

        },

        // Flag logic
        onRightClick(square) {
            if (this.isGameOver) return
            if (!square.isChecked && (this.flags <= this.bombsNbr)) {
                if (!square.isFlagged) {
                    square.isFlagged = true
                    this.flags--
                    this.checkForWin()
                } else {
                    square.isFlagged = false
                    this.flags++
                }
            }
        },

        // Check logic with recursive function "Checksquare"
        onLeftClick(square) {
            if (this.isGameOver) return
            if (square.isChecked || square.isFlagged) return
            let squareId = square.id
            if (square.type === "bomb") {
                this.gameOver()
                return
            } else {
                if (square.data != 0) {
                    square.isChecked = true
                    if (this.isGameStarted == false) {
                        this.isGameStarted = true;
                        console.log(this.isGameStarted)
                    }
                    return
                }
            }
            this.checkSquare(square, squareId)
            square.isChecked = true
        },

        checkSquare(square, squareId) {
            const leftEdgeDetector = (squareId % this.size === 0)
            const rightEdgeDetector = (squareId % this.size === this.size - 1)

            setTimeout(() => {
                if (squareId > 0 && !leftEdgeDetector) {
                    const newId = this.squares[squareId - 1].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare);
                }
                if (squareId > 9 && !rightEdgeDetector) {
                    const newId = this.squares[squareId + 1 - this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId > 10) {
                    const newId = this.squares[squareId - this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId > 11 && !leftEdgeDetector) {
                    const newId = this.squares[squareId - 1 - this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId < 99 && !rightEdgeDetector) {
                    const newId = this.squares[squareId + 1].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId < 90 && !leftEdgeDetector) {
                    const newId = this.squares[squareId - 1 + this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId < 88 && !rightEdgeDetector) {
                    const newId = this.squares[squareId + 1 + this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
                if (squareId < 89) {
                    const newId = this.squares[squareId + this.size].id
                    const newSquare = this.squares[newId]
                    this.onLeftClick(newSquare)
                }
            }, 10)
        },

        gameOver() {
            this.isGameOver = true
            this.isLooser = true

            this.squares.forEach(s => {
                s.isFlagged = false
            })

            this.isGameStarted = false
            this.showModal()
        },

        checkForWin() {
            let matches = 0

            for (let i = 0; i < this.squares.length; i++) {
                if (this.squares[i].isFlagged && this.squares[i].type === "bomb") {
                    matches++
                }
                if (matches === this.bombsNbr) {
                    this.isGameOver = true
                    this.isWinner = true
                    this.isGameStarted = false
                    this.squares.forEach(s => {
                        s.isFlagged = false
                    })
                    this.showModal()

                }
            }
            console.log(matches)
        },
        showModal() {
            this.isModalVisible = true;
        },
        closeModal() {
            this.isModalVisible = false;
        }
    }

}
</script>

<style>
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info,
.minesweeper-container,
.timer {
    height: 100vh;
    padding: 40px;

}

.info {
    background-color: #263238;
}

.minesweeper-container {
    background-color: #00b686;
    padding-top: 200px;

}

.timer {
    background-color: #69f0ae;
}

.msg-container {
    margin-bottom: 3rem;
}

.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: gray;
    border: 15px solid #bdbdbd;
    box-sizing: content-box;

}

.board div {
    height: 40px;
    width: 40px;
    border: 3px solid;
    border-color: #6d6d6d #1b1b1b #424242 #616161;
    box-sizing: border-box;
    font-size: 25px;
}

.checked {
    background-color: #bdbdbd;
    border: 2px solid;
    border-color: #9c998d;
    box-sizing: border-box;
}

.bomb {
    background-color: yellow;
}

.flags {
    margin-top: 5rem;
    font-size: 40px;
    font-style: italic;
    color: #263238;
}

@media (max-width: 1230px) {
    .main-container {
        grid-template-columns: 1fr;

    }

    .info {
        grid-area: 3;
    }

    .minesweeper-container {
        padding-left: 0;
        padding-right: 0;
    }

    .baord {
        margin-left: 0;
        margin-right: 0;
    }

    .info,
    .minesweeper-container,
    .timer {
        height: 900px;

    }

}
</style>
