<template>
<transition name="modal-fade">
    <div class="modal-backdrop">
        <div class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
            <header class="modal-header">
                <slot name="header">
                    <div class="button">
                        <a class='btn-close' @click="close"> X </a>
                    </div>
                    <div v-if="isWinner">
                        <h2>YOU WON !!! ✨✨✨ </h2>
                        <h3>Did I win my place in your cie ? 😉 </h3>
                    </div>
                    <div v-if="isLooser">
                        <h2>YOU LOOSE !!! 👎 </h2>
                        <h3>But you can still hire me !! </h3>
                    </div>
                </slot>
            </header>
        </div>
    </div>
</transition>
</template>

<script>
export default {
    name: 'Modal',

    props: {
        isLooser: Boolean,
        isWinner: Boolean
    },

    methods: {
        close() {
            this.$emit('close');
            this.$forceUpdate();
        },

        forceRerender() {
            this.componentKey += 1;
        }
    },
}
</script>

<style>
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #263238;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
}

.btn-close {
    padding: .5rem .8rem;
    color: #263238;
    border: 2px solid transparent;
    border-radius: 8px;
    background: #4AAE9B;
    font-size: 23px;
}

.btn-close:hover {
    color: white;
    transition: all 0.5s;
}

.button {
    text-align: right;
    margin: 25px 20px;
}

.button:hover {
    cursor: pointer;

}

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease
}

h2 {
    font-size: 60px;
    color: #4AAE9B;
    margin-bottom: 100px;
}

h3 {
    color: white;
    font-size: 30px;
    font-style: italic;
}
</style>
