<template>
<div>
    <p class="clock grey">{{formattedTime}}</p>
    <p class="t grey">⏱️ Meilleurs temps</p>
    <div class="records grey">
        <span v-for="(record, index) of records" :key="record['.key']">
            {{index + 1}} | {{record.time}}
        </span>
    </div>
</div>
</template>

<script>
import {
    db
} from '../firebase/db'

import {
    computed,
    watch,
    ref,
} from 'vue';
export default {

    props: {
        isGameStarted: Boolean,
        isWinner: Boolean
    },

    data() {
        return {
            records: [],
        }
    },

    created: function () {
        db.collection('Records').orderBy('time', 'asc').limit(10).get()
            .then(snapshot => {
                snapshot.forEach(doc => {
                    let item = doc.data()
                    item.id = doc.id
                    item.time = item.time / 1000
                    let hours = Math.floor(item.time / 3600);
                    let minutes = Math.floor((item.time - (hours * 3600)) / 60);
                    let seconds = item.time - (hours * 3600) - (minutes * 60)
                    let timeString =
                        // hours.toString().padStart(2, '0') + ':' +
                        minutes.toString().padStart(2, '0') + 'm : ' +
                        seconds.toString().padStart(2, '0') + 's';
                    console.log(timeString)
                    item.time = timeString
                    this.records.push(item)

                })
            })
    },

    setup(props) {

        const elapsedTime = ref(0)
        const timer = ref(undefined)

        watch(props, () => {
            if (props.isGameStarted) {
                timer.value = setInterval(() => {
                    elapsedTime.value += 1000;
                }, 1000);
            }

            if (!props.isGameStarted) {
                if (elapsedTime.value && props.isWinner) {
                    addRecord()
                }
                clearInterval(timer.value);
            }

        })

        const addRecord = async () => {
            await db.collection("Records").add({
                time: elapsedTime.value
            });
        }

        const formattedTime = computed(() => {
            const date = new Date(null);
            date.setSeconds(elapsedTime.value / 1000);
            const utc = date.toUTCString();
            return utc.substr(utc.indexOf(":") - 2, 8);
        })

        return {
            formattedTime
        }
    }
}
</script>

<style scoped>
.records {
    display: flex;
    flex-direction: column;
}

.grey {

    color: #263238;
}

.clock {
    font-size: 60px;
}

.t {
    font-size: 40px;
    font-style: italic;
}

span {
    margin: 8px 0;
    font-size: 18px;
}

span:first-child {
    font-size: 60px;
    color: #f9a825;
}

span:nth-child(2) {
    font-size: 38px;
}

span:nth-child(3) {
    font-size: 24px;
    margin-bottom: 40px;
}
</style>
