<template>
<div id="app">
    <div class="btn">
        <a class='restart' @click="forceRerender"> Restart 🔃</a>
    </div>
    <MineSweeper class="ms" :key="componentKey"></MineSweeper>
    <span id="mobile-app">Please, play MineSweeper on an Ipad or a Computer 💣💣💣💣💣💣💣</span>
</div>
</template>

<script>
import MineSweeper from './components/MineSweeper'
export default {
    name: 'App',
    components: {
        MineSweeper,
    },
    data() {
        return {
            componentKey: 0,
        };
    },

    methods: {
        forceRerender() {
            this.componentKey += 1;
        }
    },
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#mobile-app {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

.btn {
    margin-top: 6rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .4s ease-in-out;
    left: 300px;
    right: 300px;
}

.restart {
    padding: 1rem;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    background: #263238;
    font-size: 23px;
}

@media (max-width: 500px) {

    .restart,
    .ms {
        display: none;
    }

    #mobile-app {
        display: block;
        font-size: 30px;
        margin: 4rem 0.5rem;
        line-height: 3rem;

    }
}
</style>
